---
# Only the main Sass file needs front matter (the dashes are enough)
---
//
// Main sass file, to import all styles
//
@charset "utf-8";

/*********** overrides ***********/
// Melissa <3 Seth (title)

h2, h3, h4, h5 {
  font-family: 'Open Sans Condensed', sans-serif;
}
.sans-serif {
  font-family: 'Helvetica','Arial',sans-serif;
}
.mdl-layout__header-row > a {
  color: white;
  text-decoration: none;
}
// twitter, fb, instagram
.social-media i {
  padding-left: 10px;
}

// center all cards
.mdl-grid {
  align-items: stretch;
}
// accomodations, itinerary, location, photos
.mdl-card__title-text, .mdl-card__title a {
  text-decoration: none;
  color: white;
}

.mdl-layout__container {
  position: relative;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
"colors",
"base",
"layout",
"syntax-highlighting",
"post",
"search",
"location",
"accomodations",
"itinerary",
"registry",
"about"
;
