---
# Only the main Sass file needs front matter (the dashes are enough)
---
//
// Main sass file, to import all styles
//
@charset "utf-8";

/*********** overrides ***********/
// Melissa <3 Seth (title)
@import
'fonts', // mine
'colors', // mine
'breakpoints', // mine
'base',
'layout',
'syntax-highlighting',
'post',
'search',
'location',
'accomodations',
'itinerary',
'registry',
'about'
;

a {
  color: unset;
  font-weight: unset;
  text-decoration: none;
}

h2, h3, h4, h5 {
  @extend %font-custom-sans-serif;
}

.sans-serif, p {
  @extend %font-sans-serif;
}

.mdl-layout__header-row {
  .mdl-layout-title { // Melissa <3 Seth
      @extend %font-sans-serif;
      font-size: 30px;
      @media(max-width: $small) {
        font-size: 25px;

        }
    }
 }

.mdl-layout-title {
  @extend %font-custom-sans-serif;
  font-size: 31px;
}

.mdl-navigation__link {
  @extend %font-sans-serif;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: $blue-invite;
  color: $grey-invite-light;
  transition: 0.3s ease;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background-color: $blue-invite-dark;
}
// twitter, fb, instagram
.social-media i {
  padding-left: 10px;
}
.social-media > a {
  color: $blue-invite;
}

// center all cards
.mdl-grid {
  align-items: stretch;
}
// accomodations, itinerary, location, photos


.mdl-layout__container {
  position: relative;
}


// Import partials from `sass_dir` (defaults to `_sass`)

