$blue-invite: #91bfc6;
$green-invite: #BBD1B6;
$grey-invite: darken(#CFCED3, 25%);
// Pantone Metallic 8363 Gold
$gold-color: #a19b4b;
$gold-color-dark: darken($gold-color, 10%);
$gold-color-light:  lighten($gold-color, 10%);
// Pantone Coated 575 C (Green)
$sagegreen-color: #67823a;
$sagegreen-color-dark: darken($sagegreen-color, 25%);
$sagegreen-color-light:  lighten($sagegreen-color, 25%);

$green: #BBD1B6; // footer
$green-dark: darken($green, 10%);
$green-light: lighten($green, 10%);
//
//
/******************************/
$spacing-unit:     30px;
$super-search:     rgba(0, 191, 255, 0.85);
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
