$blue-invite: #91bfc6;
$blue-invite-dark: darken($blue-invite, 25%);
$blue-invite-light: lighten($blue-invite, 25%);

$green-invite: #bbd1b6;
$grey-invite:#cfced3;
$grey-invite-light: lighten($grey-invite, 25%);
$grey-invite-dark: darken($grey-invite, 25%);

// Pantone Metallic 8363 Gold
$gold: #a19b4b;
$gold-dark: darken($gold, 10%);
$gold-light:  lighten($gold, 10%);
// Pantone Coated 575 C (Green)
$sagegreen: #67823a;
$sagegreen-dark: darken($sagegreen, 25%);
$sagegreen-light:  lighten($sagegreen, 25%);

$green: $green-invite; // footer
$green-dark: darken($green, 10%);
$green-light: lighten($green, 10%);
//
//
/******************************/
$spacing-unit:     30px;
$super-search:     rgba(0, 191, 255, 0.85);
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
//
