%font-sans-serif {
  font-family: Geneva, Verdana, sans-serif;
}
%font-custom-cursive {
  font-family: 'Homemade Apple', cursive;
}
%font-custom-sans-serif {
 font-family: 'Open Sans Condensed', sans-serif;
}
