// Generals styles for material design light elements

/********* overrides *********/
/*
        Dark Sage green: #69793e
          http://rgb.to/color/6881/dark-sage-green
        Light Sage green: #a4be4d
          http://rgb.to/keyword/10507/1/light-sage-green
        Pantone Metallic 8363 Gold: #a19b4b
          http://rgb.to/pantone/metallic/8363-c
        Ivory: #FFFFF0
*/


.mdl-layout__header {

background: rgba(0,96,20,1);
background: -moz-linear-gradient(left, rgba(0,96,20,1) 0%, rgba(0,96,20,1) 66%, rgba(161,155,75,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,96,20,1)), color-stop(66%, rgba(0,96,20,1)), color-stop(100%, rgba(161,155,75,1)));
background: -webkit-linear-gradient(left, rgba(0,96,20,1) 0%, rgba(0,96,20,1) 66%, rgba(161,155,75,1) 100%);
background: -o-linear-gradient(left, rgba(0,96,20,1) 0%, rgba(0,96,20,1) 66%, rgba(161,155,75,1) 100%);
background: -ms-linear-gradient(left, rgba(0,96,20,1) 0%, rgba(0,96,20,1) 66%, rgba(161,155,75,1) 100%);
background: linear-gradient(to right, rgba(0,96,20,1) 0%, rgba(0,96,20,1) 66%, rgba(161,155,75,1) 100%);
}

// READ MORE links
.mdl-button.mdl-button--colored {
	color: darkgrey;

}

// accomdations, location, photos etc
.mdl-card__title-text, .mdl-card__title a {
	color: white;
}
//Some folks are getting married!
div.mdl-card__supporting-text h4 {
	color: $gold-color;
	font-weight: bold;
}
// footer
.mdl-mega-footer {
  background-color: $evergreen-color;
}
.mdl-mega-footer--link-list {

}
/***************************/
.page-content{
  max-width: 1200px;
  margin: 0 auto;
}

// Cards styles
.mdl-card {
  .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/welcome_card.jpg') center / cover;
  }

  .mdl-card__supporting-text > span { color: #9F9F9F; }

  .mdl-card__menu {
    color: #fff;
  }
}

.post-button{
  position: absolute;
  right: 15px;
  bottom: 25px;
}

// some folks are getting married

.section-highlight {
  position: relative;
  margin: 10px;
	width: 100%;
  border: 10px solid #006014;

  .mdl-card__supporting-text {
    margin: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: inherit;
    width: calc(100% - 80px);
  }

  .mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 4px 40px;
    color: inherit;
  }

  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 200px;
    background: url('../img/welcome_card.jpg') center / cover;
  }

  button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
  }

}
