---
layout: default
---
<div class="post-ribbon"></div>
<main class="post-main mdl-layout__content accommodations">
  <div class="post-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="post-section mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <h3> Accommodations </h3>
      <article class="post-content">
        <p>For the convenience of guests who would like to stay downtown, we have booked a block of rooms at the historic <a href="http://www.palmerhousehiltonhotel.com/">Palmer House Hilton</a>, a short walk to all scheduled events.
        </p>
        <img src='../img/accom_ph_front.jpg' />
        <p class="address">
          <span>Palmer House Hilton</span>
          <span>17 East Monroe Street </span>
          <span>Chicago,  Illinois 60603 USA</span>
          <span>T: 312.726.7500</span>
        </p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.5834000519894!2d-87.62923868415125!3d41.880308879221964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca482b2e0bf%3A0x226c86e6da79077e!2sPalmer+House+-+A+Hilton+Hotel!5e0!3m2!1sen!2sus!4v1464276975519" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      <!--   <p>{{ content }}</p> -->
    </div>
  </div>
</main>
