---
layout: default
---
<div class="post-ribbon"></div>
<main class="post-main mdl-layout__content location">
  <div class="post-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="post-section mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <h3> Location </h3>
      <article class="post-content">

        <p>Both the wedding *ceremony* and *reception* are to take place at the <em>Chicago Cultural Center</em>, across the street from Millenium park and the lake.</p>
      <p>

<img src='../img/loc_in.jpg' />
<p>The <em> Chicago Cultural Center </em> is a historic arts center, hosting hundreds of arts exhibitions and performances each year. It's home to the largest Tiffany-stained glass dome in the world, and one of Chicago's ten most popular attractions. </p>
from <a href="http://www.cityofchicago.org/city/en/depts/dca/supp_info/chicago_culturalcenter-architectureandhistory.html">cityofchicago.org</a>...
<blockquote>
<p>
Completed in 1897 as Chicago’s first central public library, the building was designed to impress and to prove that Chicago had grown into a sophisticated metropolis. The country’s top architects and craftsmen used the most sumptuous materials, such as rare imported marbles, polished brass, fine hardwoods, and mosaics of Favrile glass, mother-of-pearl and colored stone, to create an architectural showplace. Located on the south side of the building, the world’s largest stained glass Tiffany dome ― 38 feet in diameter with some 30,000 pieces of glass ― was restored to its original splendor in 2008. On the north side of the building is a 40-foot-diameter dome with some 50,000 pieces of glass in an intricate Renaissance pattern, designed by Healy & Millet.

</p>

</blockquote>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.423075186917!2d-87.62714018535823!3d41.88375757304052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca5b948341f%3A0x32cea0c47409f03f!2sChicago+Cultural+Center!5e0!3m2!1sen!2sus!4v1464188375275" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </article>
<!--   <p>{{ content }}</p> -->
    </div>
  </div>
</main>
