---
layout: default
---
<div class="post-ribbon"></div>
<main class="post-main mdl-layout__content">
  <div class="post-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="post-section mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <h3>Rehearsal Dinner</h3>
      <article class="post-content">
        <p>{{ content }}</p>
        <h4>Date</h4>
        <p class="bold">
          Saturday, July 8th @ 6PM
        </p>
        <h4>Rehearsal Dinner Location</h4>
        <p class="bold">
          Cliff Dwellers Club <br> 200 S. Michigan Avenue, 22nd Floor <br> Chicago IL, 60604-2487 <br>
            <p>Enter the building. Tell the security guard you are here for a private party at Cliff Dwellers and they will direct you to the correct elevator to take (not all of the elevators reach the 22nd floor).</p>

            <a href="http://cliff-chicago.org">
              <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Cliff Dwellers Website</button>
            </a>
            <hr>
            <h3>Brunch</h3>
            <p>Stop in, grab coffee and a bagel, and say goodbye before your flight.</p>
            <h4>Date</h4>
            <p class="bold"> Monday, July 10th @ 8AM-11AM </p>
            <h4>Brunch Location</h4>
            <p class="bold">
              Palmer House Hilton (we have a private conference room reserved).
              <br>
              Mezzanine.
            </p>
            <p>Enter the building and take the elevator to the Mezzanine (the floor marked 'm').</p>
      </article>

    </div>
  </div>
</main>
